<div class="heading">
  <div class="home-notice col col-sm-auto">
      <p id="notice"><%= notice %></p>
  </div>
  <header class="title">
    Garage <span class="sale">SALE</span> Finder
  </header>
  <!-- Search -->
  <div class="search">
    <form method="get" action="/sales">
      <span class="search-headers"><label for="search">Find Garage Sales:</label></span><br>
      <!-- The regex blocks only whitespace input -->
      <input type="text" name="search" placeholder="City or Zip code" required pattern='.*\S+.*' oninvalid="this.setCustomValidity('City or zip code cannot be blank')" onchange="setCustomValidity('')">
      <input type="submit" value="Search" class="btn submit-button">
    </form>
  </div>
</div>
