<script>

</script>
<h2>Items:</h2>
<% @sale.items.each do |i| %>
<div class="col-sm-3">
  <%= link_to image_tag(i.image.url(:large)), i.image.url %>

    <p>
      <strong>Item name:</strong>
      <%= i.item_name %>
    </p>

    <p>
      <strong>Item description:</strong>
      <%= i.item_description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= i.price %>
    </p>
  </div>
<% end %>
