<h1>Edit Item</h1>

<%= render 'editForm', item: @item %>

<!-- <%= link_to 'Back', sale_items_path(@sale) %> -->

<%= link_to 'Show', sale_item_path(@sale, @item) %> |
<%= link_to 'Back', sale_path(@sale) %>
