//INDEX MAP
#map {
  height: 65vh;
  margin-top: 56px;
}

//SHOW PAGE MAP
#showmap {
  margin-left: 1vw;
  height: 45vh;
  max-width: 40vw;
  z-index: 0;
}
.map-show {
  margin: 15vh auto 15vh auto;
}

//GENERAL
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #d2e0dc;
  font-family: 'Muli', sans-serif;
}

// NAVBAR STYLE
.navbar {
  // background-color: rgba(13, 75, 0, .5);
  .navbar-brand {
    color: white;
    width: 120px;
  }
  a {
    color: white;
  }
}
.dropdown-item {
  color: black !important;
}
.dropdown-item:active {
  background-color: #ccc;
}
.dropdown {
  width: 170px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:active {
  // outline: none;
  border: 3px solid #ccc;
}
.navbar-toggler:focus {
  outline: none;
  cursor: pointer;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item {
  padding-right: 40px;
  text-align:right;
}
.host-sale {
  padding-left: 45px;
}


// TABLE STYLE
table {
  border: 1px solid black;
  margin: auto;
  th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    background-color: rgba(188, 188, 188, 0.5)
  }
}
.table-view {
  max-width: 80vw;
  margin: auto;
  text-align: center;
  padding: 5vh 0 5vh 0;
}


// FORM STYLING
.form-background {
  background: #d2e0dc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fbfbea, #a5c0b8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fbfbea, #a5c0b8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fbfbea, #a5c0b8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fbfbea, #a5c0b8); /* Standard syntax */
  height: 100%;
}
.form-text {
  margin: 20vh auto;
  width: 200px;
}
.form-text-large {
  margin: 10vh auto;
  width: 200px;
}
#sale_date_1i, #sale_date_2i, #sale_date_3i {
  font-size: 13.4px;
}
input {
  border: 3px solid white;
  border-radius: 5px;
  padding: 4px;
}
input:focus, textarea:focus {
  outline: none;
  border: 3px solid #ccc;
}
::placeholder {
  color: #cccccc;
}
textarea {
  border: 3px solid white;
  border-radius: 5px;
  width: 200px;
  padding: 4px;
}
.form-header {
  text-align: center;
  padding: 5px;
}
.edit_form{
  line-height: 80%;
}
.button_style {
  width: 200px;
  background-color: white;
  cursor: pointer;
}
.imgfield {
  padding: 5px 10px;
  background: #bae1f5;
  color: black;
  border: 2px solid white;
  position: relative;
  border-radius: 5px;
  text-align: center;
  float: left;
}
.add_image_button {
  position: absolute;
  z-index: 10;
  opacity: 0;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}
.add_image_button:hover {
  color: white;
  cursor: pointer;
}


//HOME PAGE
.title {
  font-family: 'Muli', sans-serif;
  font-size: 4em;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20px;
}
.sale {
  font-family: 'Architects Daughter', sans-serif;
}
.heading {
  height: 100vh;
  background-image: url(asset-path('grass_final.png'));
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .heading {
      height: 100vh;
      background-image: url(asset-path('grass_ipad.png'));
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
.search {
  text-align: center;
  padding: 3vh 0 3vh 0;
}
.submit-button {
  width: 100px;
  border: 3px solid buttonface;
  cursor: pointer;
}
//RANDOM
.mysales {
  text-align: center;
  margin-top: 20vh;
}
.items-header{
  text-align: center;
  padding-top: 5vh;
}
.show-notice {
  text-align: center;
}
.home-notice {
  position: absolute;
  padding-top: 60px;
  // text-align: center;
}
.map-page-content {
  width: 100vw;
  height: 50vh;
  padding-top: 5vh;
}
.show-page-items {
  width: 100vw;
  padding-bottom: 10vh;
  background-color: white;
}
.items-form {
  width: 100vw;
}
.show-page-links {
  text-align: center;
}

//SALES INDEX MAP PAGE
.search-headers {
  font-size: 1.5em;
}
.spacer {
  height: 60px;
}
#item-search {
  width: 100px;
  border: 3px solid buttonface;
  cursor: pointer;
}
#item-search:focus {
  border: 3px solid #ccc;
}
.nosale-message {
  width: 40%;
  margin: auto;
  text-align: center;
  color: #a40000
}


//MODAL STYLING
.images {
text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;  /*Enable scroll if needed*/
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
  margin-top: 15vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  /*height: 150px;*/
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-footer {
  background: none repeat scroll 0 0;
  height: 100px;
  margin: auto;
  width: 400px;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}
.iteminfo {
  padding: 13px;
}
 // end modal styling


.loginalert, #error_explanation {
  position: absolute;
  color: red;
}

#error_explanation {
  width: 200px;
}

ul {
  list-style-type: none;
  margin-left: -40px;
}

div.field_with_errors {
  display: inline;
}

#new_table{
  float: top;
}




//shadow box around show page items
// .items-container {
//   margin: 25px 10px;
//   padding-right: 30px;
//   background: rgba(239, 239, 239, 0.7);
//   box-shadow: 0 0 15px 10px rgba(239, 239, 239, 0.7);
// }

//good code for making background pictures
// background-image: url(asset-path('map_page_bacground.png'));
// background-repeat: no-repeat;
// background-size: cover;
