$break-smalldesk: 1280px;
$break-ipad: 1024px;
$break-iphone: 640px;


#map {
  height: 65vh;
  margin-top: 56px;
}
#showmap {
  margin-left: 1vw;
  height: 45vh;
  max-width: 40vw;
}
.map-show {
  margin: 15vh auto 15vh auto;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ECECE4;
  font-family: 'Muli', sans-serif;
}
.navbar {
  // background-color: rgba(13, 75, 0, .5);
  .navbar-brand {
    color: white;
  }
  a {
    color: white;
  }
}
.dropdown-item {
  color: black !important;
}
table {
  border: 1px solid black;
  margin: auto;
  th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    background-color: rgba(188, 188, 188, 0.5)
  }
}
.table-view {
  max-width: 80vw;
  margin: auto;
  text-align: center;
  padding: 5vh 0 5vh 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.container-small {
  max-width: 370px;
  max-height: 525px;
  background-color: rgba(50,144,110, 0.5);
  margin: 20vh auto;
  padding: 4%;
  border: 3px outset rgba(188, 188, 188, 0.5);
  border-radius: 5px;
  @media screen and (max-width: $break-smalldesk) {
    max-width: 300px;
  }
  @media screen and (max-width: $break-ipad) {
    max-width: 295px;
  }
  @media screen and (max-width: $break-iphone) {
    max-width: 260px;
  }
}
.container-large {
  max-width: 380px;
  max-height: 800px;
  background-color: rgba(50,144,110, 0.5);

  margin: 20vh auto;
  padding: 2% 5% 2% 5%;
  border: 3px outset rgba(188, 188, 188, 0.5);
  border-radius: 5px;
  @media screen and (max-width: $break-smalldesk) {
    max-width: 300px;
  }
  @media screen and (max-width: $break-ipad) {
    max-width: 280px;
  }
  @media screen and (max-width: $break-iphone) {
    max-width: 240px;
  }
}
.title {
  font-family: 'Muli', sans-serif;
  font-size: 4em;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20px;
}
.sale {
  font-family: 'Architects Daughter', sans-serif;
}
.heading {
  height: 100vh;
  background-image: url(asset-path('grass_final.png'));
  background-repeat: no-repeat;
  background-size: cover;
}
.search {
  text-align: center;
  padding: 3vh 0 3vh 0;
}
.mysales {
  text-align: center;
  margin-top: 20vh;
}
.dropdown {
  width: 170px;
}
input {
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
  border: 2px inset rgba(154,154,154,0.5);
  width: 195px;
}
.items-header{
  text-align: center;
  padding-top: 5vh;
}
.show-notice {
  text-align: center;
}
.home-notice {
  position: absolute;
  padding-top: 60px;
  // text-align: center;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.map-page-content {
  width: 100vw;
  height: 50vh;
  padding-top: 5vh;
}
.show-page-items {
  width: 100vw;
  padding-bottom: 10vh;
  background-color: white;
}
.items-form {
  width: 100vw;
}
.show-page-links {
  text-align: center;
}
.search-headers {
  font-size: 1.5em;
}
.edit_form{
  line-height: 80%;
}
.button_style {
  width: 195px;
}
#attach {
  width: 210px;
}
#search_message{
  color: #a40000
}
.spacer {
  height: 60px;
}


//MODAL STYLING
.images {
text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;  /*Enable scroll if needed*/
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 25%;
  max-width: 700px;
  margin-top: 15vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  /*height: 150px;*/
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-footer {
  background: none repeat scroll 0 0;
  height: 100px;
  margin: auto;
  width: 400px;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}
.iteminfo {
  padding: 13px;
}

.loginalert, #error_explanation {
  position: absolute;
  color: red;
}

#error_explanation {
  width: 200px;
}

ul {
  list-style-type: none;
  margin-left: -40px;
}

div.field_with_errors {
  display: inline;
}

//shadow box around show page items
// .items-container {
//   margin: 25px 10px;
//   padding-right: 30px;
//   background: rgba(239, 239, 239, 0.7);
//   box-shadow: 0 0 15px 10px rgba(239, 239, 239, 0.7);
// }

//good code for making background pictures
// background-image: url(asset-path('map_page_bacground.png'));
// background-repeat: no-repeat;
// background-size: cover;


#new_table{

float: top;

}
